@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {
   box-sizing: border-box;
   padding:0;
   margin:0;
   /* border:1px solid pink; */
}
body , html {
    height: 100%;
    width:100%;
}

body {
   font-family: "Roboto", sans-serif;
   background-color: #F1F4FB;
}

/* ---------------- Header ------------------*/
/* ----------------------------------------- */
#header {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 60px auto 100px auto;
   width:90%;
   align-items: center;
   text-align: center;
 }
 .navbar {
    width: 50%;
 }
 .navbar-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:63%;
    height: 20px;
    margin:10px 0px 0px 0px;
 }
 
 .logo {
     width:90%;
 }
 .nav-links {
     list-style: none;
     display:flex; 
     justify-content: space-around; 
     width:100%;
     cursor: pointer;
 }
 .contact-link {
    display:none;
}

.nav-links li a{
    color: grey;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}
.nav-links li a:hover {
    color: rgb(80, 161, 236);
}

.nav-links li a:active{
    color: rgb(236, 248, 10);
}
#active-navbar{
    color: rgb(80, 161, 236);
}

.contact-btn {
    padding: 10px 10px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.hamburguer {
    display:none;
    cursor:pointer;
}
.bar {
    display:block;
    width:20px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
}

/* ---------- MediaQuery - Tablet - Header --------------*/
@media (max-width: 768px){

#header {
    width: 100%;
    margin: 20px auto;
}
.navbar-container {
    width: 80%;
    margin: 10px auto;
}
.hamburguer {
    display:block;
    margin-top: 10px;
}
.navbar {
    display: flex;
    width: 0%;
    height:50px;
}
.contact-btn {
    display:none;
}
.contact-link {
    display:block;
}

.hamburguer.active .bar:nth-child(2) {
    opacity:0;
}
.hamburguer.active .bar:nth-child(1) {
    transform:translateY(8px) rotate(45deg);
    filter:invert(1);
}
.hamburguer.active .bar:nth-child(3) {
    transform:translateY(-8px) rotate(-45deg);
    filter:invert(1);
}
.nav-links {
    position:fixed;
    left:0px;
    top:0px; 
    flex-direction: column;
    background-color: #bcbfcd;
    color:white;
    margin:0px auto;
    text-align: center;
    align-items: center;
    transition: 1s;
    transform: translateY(-100%);
    cursor: pointer;
    height:200px;
}
.nav-links li a{
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.nav-links.active {
    transform: translateY(0);
    
}  
}

/* ---------- MediaQuery - Mobile - Header --------------*/
@media (max-width: 425px){
.logo {
    margin: 10px 0 0 10px;
}
.hamburguer {
    width: 14%;
    margin:6px 0px 0px 0px;
    position: relative;
    right:0%;
}
.navbar {
    width:7%;
}
.contact-btn {
    display:none;
}
.navbar-container {
    width: 90%;
}
.nav-links {
    height: 185px; 
}
.nav-links li a{
    font-size: 1rem;
}
}
/* --------------------  Contact  ------------------ */
/* ------------------------------------------------- */

.contact-container {
    width:100%;
}
.form-container {
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:90px auto 0px auto;
}
.contact-form {
    margin-bottom: 100px;
}
.form-title {
    width:90%;
    margin:60px auto;
    align-items: flex-start;
    font-size: 3.2rem;
}
.contact-name {
    margin-bottom: 100px;
}
.contact-name, .text-name, .text-email , 
.text-phone ,.contact-email,.contact-phone, 
.text-message, .contact-message {
    border:none;
    font-size: 1.25rem; 
    color:#6C718B;
}
.text-name, .text-email , 
.text-phone, .text-message {
    background-color:#e6e7f1;
    font-size: 1rem; 
    font-family: inherit;
    margin-top: 10px;
}
.text-name {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    color:black;
    padding-left: 10px;
}
.mid-form-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 40px;
    margin-bottom: 60px;
}
.email-form {
    width: 49%;
}
.text-email , .text-phone {
    width:100%;
    height: 50px;
    padding-left: 10px;
}
.phone-form {
    width: 49%;
}
.text-message {
    width:100%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
}
.submit-btn {
    width: 100%;
    height: 70px;
    background-color: #072AC8;
    color: white;
    border: none;
    font-size: 1rem; 
    cursor: pointer;
}
.s-form-done {
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    background-color: #e779cc;
    padding: 10px;
    text-align: center;
    align-items: center;
  }
/* ---------- MediaQuery - Mobile - Contact --------------*/
@media (max-width: 425px){
.form-title {
    font-size: 2.5rem;
    margin: 25px auto;
}
.form-container {
    margin:40px auto 0px auto;
    height:100%;
}
.mid-form-section {
    flex-direction: column;
    justify-content:space-between;
    height: 120px;
    margin-bottom: 90px;
}
.text-name {
    margin-bottom: 20px;
}
.text-email , .text-phone {
    width:200%;
    height: 50px;
    padding-left: 10px;
}
.text-email {
    margin-top: 10px;
    margin-bottom: 20px;
}

}
/* ---------  Footer ------------- */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:80%;
    margin:0px auto 30px auto;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.foot-logo {
    margin-bottom: 30px;
    width:100px;
}
.footer-address {
    color:#6C718B;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 110px;
    width:350px;
    margin-top:30px;
    margin-bottom: 20px;
}
.footer-link {
    text-decoration: none;
    color:#072AC8 ;
}
/* ---------- MediaQuery - Mobile - Contact --------------*/
@media (max-width: 425px){
.footer-container {
    height: 300px;
    margin:0px auto;
    width:90%;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-form {
    margin-bottom: 40px;
}
.footer-content {
    width:90%;
    text-align: center;
    margin-bottom: 50px;
}
.footer-links {
    margin-top: 10px;
    height: 90px;
   
}
}