@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {
   box-sizing: border-box;
   padding:0;
   margin:0;
   /* border:1px solid pink; */
}
body , html {
    height: 100%;
    width:100%;
}

body {
   font-family: "Roboto", sans-serif;
   background-color: #F1F4FB;
}

/* ---------------- Header ------------------*/
/* ----------------------------------------- */
#header {
    width:82%;
    margin:40px 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .navbar-container {
    height: 70px; 
    width: 65%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.navbar ul {
    list-style: none;
    display:flex; 
    justify-content: space-between; 
    width:300px;
    cursor: pointer;
}

.navbar .nav-links li a{
    color: grey;
    text-decoration: none;
}
.navbar .nav-links li a:hover {
    color: rgb(80, 161, 236);
}

.navbar .nav-links li a:active{
    color: rgb(236, 248, 10);
}
#active-navbar{
    color: rgb(80, 161, 236);
}

.contact-btn {
    padding: 24px 20px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.hamburguer {
    display:none;
    cursor:pointer;
}
.bar {
    display:block;
    width:20px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
}

/* ---------- MediaQuery - Tablet - Header --------------*/
@media (max-width: 768px){

li {
    display:none ;
}
.hamburguer {
    display:block;
    width: 30%;
    margin-left: 380px;
    margin-top: 5px;
}
.navbar {
    width: 60%;
    height:50px;
}
.contact-btn {
    display:none;
}
.navbar-container {
    width: 80%;
}


/* ------------  Contact  ------------ */
/* ----------------------------------- */

.contact-container {
    width:100%;
}
.form-container {
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:90px auto;
}
.contact-form {
    margin-bottom: 100px;
}
.form-title {
    width:90%;
    margin:60px auto;
    align-items: flex-start;
    font-size: 3.2rem;
}
.contact-name {
    margin-bottom: 100px;
}
.contact-name, .text-name, .text-email , 
.text-phone ,.contact-email,.contact-phone, 
.text-message, .contact-message {
    border:none;
    font-size: 1.25rem; 
    color:#6C718B;
}
.text-name, .text-email , 
.text-phone, .text-message {
    background-color:#e6e7f1;
    font-size: 1rem; 
    margin-top: 10px;
}
.text-name {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    color:black;
    padding-left: 10px;
}
.mid-form-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 40px;
    margin-bottom: 60px;
}
.email-form {
    width: 49%;
}
.text-email , .text-phone {
    width:100%;
    height: 50px;
    padding-left: 10px;
}
.phone-form {
    width: 49%;
}
.text-message {
    width:100%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.submit-btn {
    width: 100%;
    height: 70px;
    background-color: #072AC8;
    color: white;
    border: none;
    font-size: 1rem; 
}
/* ---------  Footer ------------- */

.footer-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:350px 100px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.foot-logo {
    margin-bottom: 30px;
    width:100px;
}
.footer-address {
    color:#6C718B;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 150px;
    width:350px;
    margin-top: 100px;
}
.footer-link {
    text-decoration: none;
    color:#072AC8 ;
}