@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {
   box-sizing: border-box;
   padding:0;
   margin:0;
   font-size: 14px;
   border: 1px rgb(232, 158, 67) solid;
  
}
body , html {
    height: 100%;
    width:100%;
}
body {
   font-family: "Roboto", sans-serif;
   background-color: #F1F4FB;
   border: 1px red solid;
}

/* Header */

#header {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 20px auto;
   width:90%;
   align-items: center;
   text-align: center;
  
}
.navbar {
    width: 50%;
}
.navbar-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:63%;
    height: 20px;
}

.logo {
    width:90%;
}
.nav-links {
    list-style: none;
    display:flex; 
    justify-content: space-around; 
    width:100%;
    cursor: pointer;
}

.nav-links li a{
    color: grey;
    text-decoration: none;
    align-items: center;
    text-align: center;
}
.nav-links li a:hover {
    color: rgb(80, 161, 236);
}

.nav-links li a:active{
    color: rgb(236, 248, 10);
}
#active-navbar{
    color: rgb(80, 161, 236);
}

.contact-btn {
    padding: 10px 10px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.hamburguer {
    display:none;
    cursor:pointer;
}
.bar {
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: white;
    color:#FFC600
}

/* ---------- MediaQuery - Header --------------*/

@media (max-width: 767px){

/* *{ margin: none;} */
     
body { margin:0px;} 

li {
    display:none ;
}
.hamburguer {
    width: 40%;
    margin:145px;
}
.navbar {
    width: 40%;
}
.contact-btn {
    display:none;
}
.navbar-container {
     width: 80%;
     margin:0;
}
}
/* ------ Heros Section ------ */

.heros-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 10px;
    border: green solid 1px;
    width:100%;
}
.hero-content {
    margin:20px;
    display:flex; 
    flex-direction: column;
    justify-content:center;
    width:50%;
    border: rgb(26, 0, 128) solid 1px;
  
}
.hero-heading {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.description {
    font-size: 1.2rem;
    color:dimgrey;
    margin-bottom: 40px;
}
.work-btn {
    padding: 10px 20px;
    background-color: rgb(247, 247, 251);
    color:rgb(127, 124, 124);
    border: none;
    cursor: pointer;
}
.touch-btn {
    padding: 10px 20px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
}
#hero-imgs {
    position: relative;
    width: 50%;
    display:flex;
    align-items: center; 
    justify-content: center;
}

.heroimg {
    width: 90%;
}

.cardimg1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 35%;
}
.cardimg2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 35%;
}

/* ------- MediaQuery Main ------ */

@media (max-width: 767px){

.heros-container {
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width:100%;
} 
.hero-content {
    width: 100%;
    margin:0px;
    padding: 10px;
}
.hero-heading {
    width:100%;
    text-align: center;
    margin:0px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.description {
    width:100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.hero-imgs {
    width: 200%;
   /* margin-left: 200px; */
}

.heroimg {
    width: 180%;
    justify-items: center;
    margin-left: 200px;
    margin-top: 30px;
}

.cardimg1 {
    display: none;
}
.cardimg2 {
    display: none;
}
.btn-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
}
/* ----------- Section-1-Logos ------------ */

.logos-container {
    margin:60px 0px 100px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
}
.logos img{
    width:60%;
    margin:20px;
}

/* ------- MediaQuery Section-1-Logos ------ */

@media (max-width: 767px){
   
 .logos-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
   
 .amaZon {
    display:none;
}
}

/* ------- Section-2-Recent Projects --------*/

.projects-container {
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 100%;
   border: 1px solid darkcyan;
   margin-left: 10px;
}

.projects-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}

.project-img {
    height: 100px;
    margin-bottom: 20px;
}

.collection-box {
    display: flex;
    flex-direction: row;
    height: 55%;
    width: 55%;
    align-items: center;
    gap:10px;
    justify-content:space-between;
}

.box {
    margin-bottom: 60px;
    height: 130%;
    width: 55%;
    background-color:white;
}

.box img {
    width: 100%;
    height:45%;
}
.learn-more {
    text-decoration: none;
    color: rgb(7, 7, 198);
}
.box h3 {
    margin-bottom: 20px;
}
.box p {
    margin-bottom: 20px;
}
.projects-text {
    padding-left: 30px;
}

/* Section-3-clients  */

#section-3-clients {
    position: relative;
    height: 400px;
    width:90%;
    background-color: #292e47;
}
.clients-container {
    height: 400px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    color:white;
    margin:100px;
}
.client-title {
    font-size: 40px;
    margin-bottom: 60px;
}
.client-text {
    text-align:center;
    color:rgb(227, 173, 37);
    font-size: 20px;
    font-weight: 700;
    line-height:30px ;
    margin-bottom: 100px;
}
.client {
   display: flex;
   align-items: center;
   justify-content: center;
}
.client-image {
    width:6%;
    height:100%;
}
.client-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.client-name {
    color:darkcyan;
    font-size: 17px;
}
.client-position {
    font-size: 14px;
}
.face {
    width:50px;
    height:50px;
    border-radius:50%;
}
.emoji-top-left img{
    width:10%;
    margin-top:70px;
    margin-left: 160px;
    position: absolute;
    top:0;
    left:0;
}
.emoji-top-right img {
    width:10%;
    margin-top:70px;
    margin-right: 160px;
    position: absolute;
    top:0;
    right:0;
}
.emoji-bottom-left img{
    width:10%;
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom:70px;
    margin-left:160px;
}
.emoji-bottom-right img {
    width:10%;
    position: absolute;
    bottom:0;
    right:0;
    margin-bottom:70px;
    margin-right: 160px;

}

/* Section-4-services */

.services-container {
  height: 600px;
  margin:250px 100px 0px 100px;
}
.services-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-left: 90px;
}
.services-boxes {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   
}
.ser-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: azure;
    height: 300px;
    padding-right: 30px;
    
}
.service-img {
    width: 20%;
    margin-left: 30px;
    background-color: rgb(218, 231, 242);
    border-radius: 50px;
    padding: 13px;
    margin-bottom: 10px;
}
.ser-box h3 {
    margin-bottom: 20px;
}
.ser-box p{
    margin-bottom: 20px;
}

/* Section-5-questions */
.questions-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC600;
    margin:100px;
}
.questions-title {
    margin-bottom:30px;
    font-size: 40px;
}
.questions-text {
    margin-bottom:60px;
    color:#6C718B;
    font-size: 25px;
}
.form input {
    height: 60px;
    width:380px;
}
.form button {
    height: 60px;
    width:150px;
    color:white;
    background-color:#072AC8 ;
}
/* Footer  */
.footer-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0px 60px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.foot-logo {
    margin-bottom: 30px;
    width:95px;
}
.footer-address {
    color:#6C718B;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 150px;
    width:350px;
    margin-top: 100px;
}
.footer-link {
    text-decoration: none;
    color:#072AC8 ;
}
/* -------- Projects CSS ---------*/

.project-container {
    display: flex;
    flex-direction: column;
}
.project-title {
    font-size: 45px;
    margin-left:100px;
    margin-top: 80px;
}
.project-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 40px 100px;
    color: #6C718B;
}
.square-img {
    width: 90%;
    height: 600px;
    margin: 100px 160px 100px 100px;
}
.project-text {
    margin: 70px 100px 200px 100px;
    line-height: 30px;
    font-size: 20px;
    color:#6C718B;  
}
.project-text p{
   margin-bottom: 40px;
}

  /* ------------------- MediaQuery Hamburguer ------------------ */

@media (max-width: 767px){

.hamburguer {
   display:block;
}
.hamburguer.active .bar:nth-child(2) {
  opacity:0;
}
.hamburguer.active .bar:nth-child(1) {
    transform:translateY(8px) rotate(45deg);
}
.hamburguer.active .bar:nth-child(3) {
    transform:translateY(-8px) rotate(-45deg);
}
.nav-links {
    position:fixed;
    left:-100%;
    top:70px;
    gap:0;
    flex-direction: column;
    background-color: #292e47;
    width:100%;
    text-align: center;
    transition: 0.3s;
}
.link {
    margin:16px 0;
}
.nav-links.active {
    left:0;
}
}