@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {
   box-sizing: border-box;
   padding:0;
   margin:0;
   font-size: 16px;
   border: 1px rgb(232, 158, 67) solid;
  
}
body , html {
    height: 100%;
    width:100%;
}
body {
   font-family: "Roboto", sans-serif;
   background-color: #F1F4FB;
}

/* --------------- Header --------------*/
/* ------------------------------------ */

#header {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 20px auto;
   width:90%;
   align-items: center;
   text-align: center;
  
}
.navbar {
    width: 50%;
}
.navbar-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:63%;
    height: 20px;
}

.logo {
    width:90%;
}
.nav-links {
    list-style: none;
    display:flex; 
    justify-content: space-around; 
    width:100%;
    cursor: pointer;
}

.nav-links li a{
    color: grey;
    text-decoration: none;
    align-items: center;
    text-align: center;
}
.nav-links li a:hover {
    color: rgb(80, 161, 236);
}

.nav-links li a:active{
    color: rgb(236, 248, 10);
}
#active-navbar{
    color: rgb(80, 161, 236);
}

.contact-btn {
    padding: 10px 10px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.hamburguer {
    display:none;
    cursor:pointer;
}
.bar {
    display:block;
    width:20px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
}

/* ---------- MediaQuery - Tablet - Header --------------*/
@media (max-width: 768px){

li {
    display:none ;
}
.hamburguer {
    display:block;
    width: 30%;
    margin-left: 380px;
    margin-top: 5px;
}
.navbar {
    width: 60%;
    height:50px;
}
.contact-btn {
    display:none;
}
.navbar-container {
    width: 80%;
    margin:0;
}
}

/* ---------- MediaQuery - Mobile - Header --------------*/
@media (max-width: 425px){

.hamburguer {
    width: 40%;
    margin:10px 0px 0px 140px;
}
.navbar {
    width: 40%;
}
.contact-btn {
    display:none;
}
.navbar-container {
    width: 80%;
    margin:0;
}
}
/* ---------- Heros Section --------- */
/* ---------------------------------- */

.heros-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    width:100%;
}
.hero-content {
    margin:20px;
    display:flex; 
    flex-direction: column;
    justify-content:center;
    width:58%;
}
.hero-heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 90px;
}
.description {
    font-size: 1.3rem;
    color:dimgrey;
    margin-bottom: 40px;
    line-height: 30px;
    width:90%;
}
.work-btn {
    padding: 10px 20px;
    background-color: rgb(247, 247, 251);
    color:rgb(127, 124, 124);
    border: none;
    cursor: pointer;
}
.touch-btn {
    padding: 10px 20px;
    background-color: rgb(7, 7, 198);
    color:white;
    border: none;
    cursor: pointer;
}
#hero-imgs {
    position: relative;
    width: 50%;
    display:flex;
    align-items: center; 
    justify-content: center;
}
.heroimg {
    width: 90%;
}
.cardimg1 {
    position: absolute;
    left: -10%;
    top: 0%;
    width: 50%;
}
.cardimg2 {
    position: absolute;
    right: 0%;
    bottom: -10%;
    width: 50%;
}

/* ------- MediaQuery - Tablet - Heros ------ */
@media (max-width: 768px){

.heros-container {
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width:100%;
} 
.hero-content {
    align-items: center;
    width: 100%;
    margin:0px;
    padding: 10px;
}
.hero-heading {
    width:100%;
    text-align: center;
    margin:0px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 3.5rem;
    line-height: 80px;
}
.description {
    width:90%;
    text-align: center;
}
#hero-imgs {
    position: relative;
    width: 100%;
    display:flex;
    align-items: center; 
    justify-content: center;
}
.heroimg {
    width: 70%;
    justify-items: center;
    margin-top: 30px;
    align-items: center;
}
.cardimg1 {
    left: 0%;
    top: 3%;
    width: 40%;
}
.cardimg2 {
    right: 0%;
    bottom: -25%;
    width: 40%;
}
}
/* ------- Media Query -- Mobile -- Heros ------- */
@media (max-width: 425px){

.hero-heading {
    font-size: 2rem;
    line-height: 50px;
}
.description {
    width:100%;
    font-size: 1.1rem;
    padding: 5px;
}
.heroimg {
    width:90%;
}
.cardimg1 {
    display: none;
}
.cardimg2 {
    display: none;
}
.btn-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 40%;
}
}
/* ----------- Section-1-Logos ------------ */
/* ---------------------------------------- */

.logos-container {
    margin:60px 0px 100px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.logos img{
    width:60%;
}

/* ------- MediaQuery - Tablet- Section-1-Logos ------ */
@media (max-width: 768px){
   
.logos-container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin:130px auto;
    grid-column-gap:130px;
    grid-row-gap:50px;
}
.logos {
   width: 70%;
}
.amaZon {
    display:none;
}
}
/* ------- Media Query - Mobile -------- */
@media (max-width: 425px){

.logos-container {
    grid-column-gap:0px;
    width: 90%;
    margin:70px auto;
}
.logos {
    width: 100%;
}
.logos img{
    width:60%;
}

}
/* ------- Section-2-Recent Projects --------*/
/* ----------------------------------------- */

.projects-container {
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 100%;
   height: 600px;
   margin-bottom: 50px;
}
.projects-title {
    font-size: 2rem;
    font-weight: bold;
    width:90%;
    margin:50px auto 70px auto;
}
.box img {
    height: 200px;
    margin-bottom: 35px;
    width: 100%;
}
.collection-box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    margin:0px auto;
    align-items: center;
    gap:10px;
    justify-content:space-between;
}
.box {
    height: 100%;
    width: 50%;
    background-color:white;
}
.box a{
    text-decoration: none;
    color: rgb(7, 7, 198);
    font-weight: bolder;
}
.box h3 {
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.box p {
    font-size: 1.1rem;
    margin-bottom: 50px;
}
.projects-text {
    padding-left: 30px;
}

/* ------- MediaQuery - Tablet- Section-2- Projects ------ */
@media (max-width: 768px){

.projects-container {
    height:100%;
}
.collection-box {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 18px;
}
.box {
    width:100%;
    height:100%;
    margin-bottom: 30px;
}
}
/* ------- Media Query - Mobile -------- */
@media (max-width: 425px){

.projects-container {
    height:100%;
    margin-bottom: 40px;
}
.collection-box {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 15px;

}
.projects-title {
   text-align: center;
   margin-bottom: 40px;
}
.box {
    width:100%;
    height:100%;
    margin-bottom: 30px;
}
}

/* ----------- Section-3-Clients ---------- */
/* ---------------------------------------- */

#section-3-clients {
    position: relative;
    height: 500px;
    width:90%;
    margin: 50px auto;
    background-color: #292e47;
    display: flex;
    justify-content: center;
    align-content: center;
}
.clients-container {
    width:65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
    margin:60px;
}
.client-title {
    font-size: 2.2rem;
    margin-bottom: 90px;
    margin-top: 30px;
}
.client-text {
    text-align:center;
    color:rgb(227, 173, 37);
    font-size: 1.4rem;
    font-weight: 700;
    line-height:30px ;
    margin-bottom: 70px;
}
.client {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width:50%;
}
.client-image {
    width:35%;
    height:125%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.face {
    width:60%;
    height:100%;
    border-radius:50%;
}
.client-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.client-name {
    color:rgb(123, 204, 224);
    font-size: 1.2rem;
}
.client-position {
    font-size: 1.1rem;
}
.emoji-top-left img{
    width:15%;
    margin-top:50px;
    margin-left: 50px;
    position: absolute;
    top:0;
    left:0;
}
.emoji-top-right img {
    width:15%;
    margin-top:50px;
    margin-right: 50px;
    position: absolute;
    top:0;
    right:0;
}
.emoji-bottom-left img{
    width:15%;
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom:50px;
    margin-left:50px;
}
.emoji-bottom-right img {
    width:15%;
    position: absolute;
    bottom:0;
    right:0;
    margin-bottom:50px;
    margin-right: 50px;
}

/* ------- MediaQuery - Tablet- Section-3 Clients ------ */
@media (max-width: 768px){

#section-3-clients {
    margin-top: 0px;
}
.client-title {
   padding: 25px;
   margin-bottom: 50px;
}
.client-text {
   width:120%;
   margin-bottom: 70px;
}
.client {
    width:50%;
}
.client-name {
    font-size: 1rem;
}
.client-position {
    font-size: 0.8rem;
}
}

/* ------- Media Query - Mobile -------- */
@media (max-width: 425px){

.emoji-top-left , .emoji-top-right , 
.emoji-bottom-left , .emoji-bottom-right{
    display: none;
}
#section-3-clients {
    height: 55%;
    width:100%;
}
.client-title {
    font-size: 1.9rem;
    width:100%;
    padding: 0px;
}
.client-text {
    font-size: 1.2rem;
    width:100%;
    margin-bottom: 40px;
}
.clients-container {
    width:100%;
}
.client {
    width:70%;
}
.client-info {
    width: 100%;
}
.client-image {
    width: 62%;
   
}
.client-name {
    font-size: 1rem;
}
.client-position {
    font-size: 0.8rem;
}
}

/* ---------------- Section 4- Services------------ */
/* ------------------------------------------------ */

.services-container {
  height: 600px;
  width:90%;
  margin:20px auto;
}
.services-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 70px;
}
.services-boxes {
    display: flex;
    flex-direction: row;
    gap:35px;
    justify-content:space-evenly;
}
.ser-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    height: 350px;
    padding-right: 30px;
    width:40%;
}
.service-img {
    width: 25%;
    margin-left: 30px;
    background-color: rgb(218, 231, 242);
    border-radius: 50px;
    padding: 13px;
    margin-bottom: 10px;
}
.service-text {
    margin-bottom: 10px;
    margin-left: 20px;
}
.ser-box h3 {
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.ser-box p{
    margin-bottom: 20px;
    font-size: 1rem;
}
.ser-box a {
    text-decoration: none;
    color:#072AC8;
    font-weight: bold;
}
/* ------- MediaQuery - Tablet- Section-4 Services ------ */
@media (max-width: 768px){
.ser-box {
    height:440px;
    width:80%;
    gap:0px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-right: 0px;
}  
.service-img {
    width:40%;
}
.service-text {
    padding-left: 0px;
    margin:0px;
    width:70%;
}
}
/* ------- Media Query - Mobile -------- */
@media (max-width: 425px){

.services-container {
  height:100%;
}
.services-title {
    font-size: 2rem;
    margin-bottom: 0px;
    text-align: center;
}
.services-boxes{
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 15px;
    justify-items: center;
}
.ser-box {
    height: 100%;
    width:95%;
    margin: 40px auto;
}
.service-img {
    width:25%;
}
.service-text {
    width:80%;
}
.ser-box h3 {
    font-size: 1.5rem;
}
.ser-box p{
    font-size: 1.2rem;
}
}

/* --------- Section 5 - Questions  --------- */
/* ------------------------------------------ */
.questions-container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC600;
    margin:20px auto;
}
.questions-title {
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.questions-text {
    margin-bottom: 60px;
    color:#6C718B;
    font-size: 1.5rem;
}
.form {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    position:relative
}
.form img {
    position: absolute;
    top:20%;
    right:70%;

}
.form input {
    height: 65px;
    width: 35%;
    padding-left: 65px;
}
.form button {
    height: 65px;
    width: 150px;
    color:white;
    background-color:#072AC8 ;
}
/* ------- MediaQuery - Tablet- Section-5 Questions ------ */
@media (max-width: 768px){

}
/* ------- Media Query - Mobile -------- */
@media (max-width: 425px){
    
.questions-container {
    margin:70px auto;
}
.questions-title {
    font-size: 2rem;
    width:70%;
}
.questions-text {
    font-size: 1.2rem;
}
.form {
    flex-direction: column;
    width: 80%;
}
.form input {
    width: 75%;
    padding-left: 50px;
}
.form img {
    top:10%;
    right:74%;
}
.form button {
    width: 75%;
    
}
}
/* ------------ Footer -----------  */
/* -------------------------------- */
.footer-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 60px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.foot-logo {
    margin-bottom: 30px;
    width:95px;
}
.footer-address {
    color:#6C718B;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 150px;
    width:350px;
    margin-top: 100px;
}
.footer-link {
    text-decoration: none;
    color:#072AC8 ;
}
/* ------------ Projects CSS ------------*/
/* ------------------------------------- */

.project-container {
    display: flex;
    flex-direction: column;
}
.project-title {
    font-size: 45px;
    margin-left:100px;
    margin-top: 80px;
}
.project-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 40px 100px;
    color: #6C718B;
}
.square-img {
    width: 90%;
    height: 600px;
    margin: 100px 160px 100px 100px;
}
.project-text {
    margin: 70px 100px 200px 100px;
    line-height: 30px;
    font-size: 20px;
    color:#6C718B;  
}
.project-text p{
   margin-bottom: 40px;
}

  /* --------- MediaQuery Hamburguer -------- */

@media (max-width: 767px){

.hamburguer {
   display:block;
}
.hamburguer.active .bar:nth-child(2) {
  opacity:0;
}
.hamburguer.active .bar:nth-child(1) {
    transform:translateY(8px) rotate(45deg);
}
.hamburguer.active .bar:nth-child(3) {
    transform:translateY(-8px) rotate(-45deg);
}
.nav-links {
    position:fixed;
    left:-100%;
    top:70px;
    gap:0;
    flex-direction: column;
    background-color: #292e47;
    width:100%;
    text-align: center;
    transition: 0.3s;
}
.link {
    margin:16px 0;
}
.nav-links.active {
    left:0;
}
}